  body{
            margin:0;
            padding:0;
            font-family: Arial, Helvetica, sans-serif;
            background:#0f0f0f;
            color:white;
        }

        nav{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:20px 40px;
        }

        nav ul{
            display:flex;
            gap:20px;
            list-style:none;
        }
        nav ul li a{
            color:#ddd;
            text-decoration:none;
            font-size:15px;
        }

        .btn-contact{
            background:#27e8b5;
            padding:8px 18px;
            border-radius:5px;
            color:black;
            text-decoration:none;
            font-weight:bold;
        }

        /* HERO AREA */
        .hero{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:70px 40px;
        }

        .hero img{
            width:260px;
            border-radius:10px;
        }

        .hero-text h2{
            color:#27e8b5;
            letter-spacing:2px;
        }

        .hero-text h1{
            font-size:40px;
            margin:10px 0;
        }

        .hero-text p{
            width:400px;
            color:#bdbdbd;
            line-height:22px;
        }

        .btn{
            border:2px solid #27e8b5;
            padding:10px 20px;
            border-radius:5px;
            color:#27e8b5;
            text-decoration:none;
            display:inline-block;
            margin-top:20px;
        }